<nav class="panel">
  <p class="panel-heading">Who to Follow</p>
<div class="panel-block">
  <article class="media">
    <div class="media-left">
      <figure class="image is32x32">
        <img src="https://bulma.io/images/placeholders/64x64.png" alt="temp">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong>
          <small>@liljoe</small>
        </p>
      </div>
    </div>
  </article>
</div>

<div class="panel-block">
  <article class="media">
    <div class="media-left">
      <figure class="image is32x32">
        <img src="https://bulma.io/images/placeholders/64x64.png" alt="temp">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith2</strong>
          <small>@liljoe2</small>
        </p>
      </div>
    </div>
  </article>
</div>


<div class="panel-block">
  <article class="media">
    <div class="media-left">
      <figure class="image is32x32">
        <img src="https://bulma.io/images/placeholders/64x64.png" alt="temp">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smit</strong>
          <small>@bigjoe</small>
        </p>
      </div>
    </div>
  </article>
</div>
</nav>